<a href="https://colab.research.google.com/github/RamMalviya15/Python-Coding-Challenges/blob/main/Python_Coding_Challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **About the Project:**

Python Coding Challenges is designed to evaluate understanding and practical application of fundamental programming concepts using Python. This assessment encompasses various topics, including data types, indexing, slicing, operators, in-built functions, statements, conditionals, loops, object-oriented programming, and exception handling.

# **Basic**

## Score Board Operator
An operator working behind the scoreboard of a inter cohort AlmaBetter cricket tournament, is responsible for updating the scores and points of each team. However, the operator is currently facing a challenge. He has been tasked with updating the total number of points gained by Team London, but he does not possess the necessary programming skills to complete this task.
According to the tournament's rules, teams are awarded the following points based on the outcome of a match:

* wins: 3 points
* draws: 1 point
* losses: 0 points




Team London has played **8 matches** in this tournament. They won **4 matches**, lost **3 matches** and **drew 1**.
The operator is in need of assistance to calculate the total number of points earned by Team London. As a python expert adept with knowledge of integer, floats and boolean, you can help the operator by writing a solution for the following problem.

What would your approach be?

In [ ]:
#1. Define your fixed values:
wins= 3
draws = 1
losses = 0
total_wins = 4
total_draws = 1
total_losses = 3

In [ ]:
#2. Calculate the total points gained by Team London
london_points = wins*total_wins + draws*total_draws + losses*total_losses

In [ ]:
# 3. Print the variable london_points
print(f"London points is {london_points}")

London points is 13

## Nutrition bar ingredient chart

Imagine you are a data analyst at a nutrition bar manufacturing company. Your department head approaches you with a question. The company produces a nutrition bar that contains **45g of raisins, 65g of almonds, and 30g of apricots**. The head of the manufacturing department wants you to create an ingredient percentage list for the nutrition bar using python.

Equipped with the knowledge of int, float and booleans in python, how would you approach this situation?

In [ ]:
# Calculate the percentage of raisins and print the variable
raisins= 45
almonds= 65
apricots=30
raisins_percentage = raisins/(raisins+almonds+apricots) * 100
print(f"raisins percentage: {raisins_percentage}")

raisins percentage: 32.142857142857146

In [ ]:
# Calculate the percentage of almonds and print the variable
almonds_percentage = almonds/(raisins+almonds+apricots) * 100
print(f"almonds percentage: {almonds_percentage}")

almonds percentage: 46.42857142857143

In [ ]:
# Calculate the percentage of apricots and print the variable
apricots_percentage = apricots/(raisins+almonds+apricots) * 100
print(f"apricots percentage: {apricots_percentage}")

apricots percentage: 21.428571428571427

## Measuring the Accuracy of a Disease Detection Model- Optional

If you're not impressed with these usecases yet, understand that you're just getting started with python. Going forward as a data scientist, you'll be using what you've learned to design machine learning models that just might even save lives!!

Let's say you have created a machine learning model to detect diseases in patients based on their symptoms and medical history. The model has been tested on a dataset of **100 patients**, including **30 with diabetes**, **45 with heart disease**, and **25 with cancer**.
The model's performance was evaluated in three rounds.
In the first round, the model correctly **detected diabetes in 25 out of the 30 patients** with the disease.
In the second round, the model correctly detected **heart disease in 35 out of the 45 patients** with the disease.
In the final round, the model correctly **detected cancer in 20 out of the 25 patients** with the disease.

The model's accuracy is defined as the percentage of correctly detected cases out of the total number of patient

Assess how accurate your model is across these 3 diseases.

#### Calculate your accuracy in each of the three cases

In [ ]:
# Print the heart disease detection accuracy
heart_disease_detection_accuracy = correctly_detected_heart_disease/heart_disease_patients
print(f"heart disease detection accuracy is {heart_disease_detection_accuracy} ")

heart disease detection accuracy is 0.7777777777777778

In [ ]:
# Print the diabetes detection accuracy
diabetes_detection_accuracy = correctly_detected_diabetes/diabetes_patients
print(f"diabetes detection accuracy is {diabetes_detection_accuracy} ")

diabetes detection accuracy is 0.8333333333333334

In [ ]:
# Print the cancer detection accuracy
cancer_detection_accuracy = correctly_detected_cancer/cancer_patients
print(f"cancer detection accuracy is {cancer_detection_accuracy} ")

cancer detection accuracy is 0.8

In [ ]:
# Print the overall accuracy of your model
overall_accuracy = (correctly_detected_cancer+correctly_detected_diabetes+correctly_detected_heart_disease)/(cancer_patients+diabetes_patients+heart_disease_patients)
print(f"overall accuracy is {overall_accuracy} ")

overall accuracy is 0.8

# **Data Types in Python**

## Solving Algebra the Cool Way 😎

You must remember the algebraic equations and functions you came across during your school days. If you do, you also must remember how tedious it was to do solve them manually. 😫
Consider a quadratic function:

***f(x)=x^2+3x-4***

Find the value of f(x) at x =3 , x=-2, and x=4

Doing this manually like the old days would be a tedious job 😞. But now you have python at your disposal 🙂 !
How would you approach this problem using what you have learned?

In [ ]:
# Calculate the value of the function f(x) at x = 3
x = 3
func_evaluated_at_3 = x**2+3*x-4
print(f"func evaluated at 3: {func_evaluated_at_3}")

func evaluated at 3: 14

In [ ]:
# Calculate the value of the function f(x) at x = -2
x = -2
func_evaluated_at_minus2 = x**2+3*x-4
print(f"func evaluated at minus2: {func_evaluated_at_minus2}")

func evaluated at minus2: -6

In [ ]:
# Calculate the value of the function f(x) at x = 4
x = 4
func_evaluated_at_4 = x**2+3*x-4
print(f"func evaluated at 4: {func_evaluated_at_4}")

func evaluated at 4: 24

In [ ]:
#Check if func_evaluated_at_3 >= func_evaluated_at_minus2
func_evaluated_at_3 >= func_evaluated_at_minus2

True

In [ ]:
#Check if value of f(x) at 3,-2 or 4 is equal to 0 or not
print(func_evaluated_at_3 == 0)
print(func_evaluated_at_minus2 == 0)
print(func_evaluated_at_4 == 0)

False
False
False

## Finding total A's in the Bookshelves

In your pursuit of expanding your knowledge of Python, you come across a bookstore in search of books on the subject.

There, you meet a salesperson who is also a Python enthusiast!!

The salesperson presents you with a challenge - they have a list of five books related to Python and if you can write a program that finds the count of letter 'e', the store will give you a free book of your choice. 😀

Are you ready to accept the challenge? 💪

In [ ]:
# Here's the list of books
books = "Python for Everyone, Learn Python the Hard Way, Python Crash Course , Starting Out with Python, Automate the Boring Stuff with Python"

In [ ]:
# Store the count of books containing A/a in the title. Note this will be a case insensitive search
a_counts = books.count('a')

A_counts = books.count('A')

total_a_counts = a_counts + A_counts

In [ ]:
# Print the value
print(f"The total number of 'a's in the list of books is {total_a_counts}")

The total number of 'a's in the list of books is 7

## Unleashing the Power of Mean in Exam Analysis

When analyzing exam scores, teachers have the power to unlock valuable insights into their students' performance. By using the mean and median, they can get a clear picture of how the class is doing as a whole and identify areas where improvement is needed.

The mean score is like a report card for the entire class, showing the average of all exam scores. It gives a good general idea of how the class is doing but can be influenced by a few students with extremely high or low scores.

By analysing the mean, teachers can get a complete picture of the class performance and make informed decisions to improve the learning experience for their students. So go ahead and use these powerful tools to take your students' exam scores to the next level! 💪

In [ ]:
# List of student marks

marks = [67,87,75,46,89,97,68,98,87,88]

In [ ]:
# Calculate the mean of the marks. Use sum() and len() functions
mean_score = sum(marks)/len(marks)

In [ ]:
print(f"the mean of the score: {mean_score}")

the mean of the score: 80.2


## John's Fruit Stand Sales Mix-up

You must remember from the previous lessons that dictionaries can be used to store values corresponding to a particular key. But how is this helpful to us?

Let's look at this scenario:

Jim owns a quaint little fruit stand that sells mangoes, bananas, apples, and pineapples. One day, with Jim being tied up, he tasked his son John to manage the shop for a day. Being new to the game, John recorded the sales data in an unconventional way. He wrote down the name of each fruit as many times as it was sold, creating a list like this:

**['Mango','Mango','Mango','Pineapple','Pineapple','Pineapple','Apple','Mango','Banana','Apple','Banana','Apple','Pineapple','Apple','Apple','Pineapple','Pineapple']**
🤦

But, this method is not very efficient or easy to read.

Forunately you were there at the shop to grab some apples yourselves, and you saw what John was doing.

You can help him out to structure the data by using dictionaries. How?

In [ ]:
#Here's John's list:
fruit_list=['Mango','Mango','Mango','Pineapple','Pineapple','Pineapple','Apple','Mango','Banana','Apple','Banana','Apple','Pineapple','Apple','Apple','Pineapple','Pineapple']

In [ ]:
# Step 2: Create an empty dictionary which will contain the unique fruit names
fruit_dict={}

# Set the values for each key separately

# First Key
fruit_dict['Mango']= fruit_list.count('Mango')

# Second Key
fruit_dict['Pineapple']= fruit_list.count('Pineapple')

# Third Key
fruit_dict['Apple']= fruit_list.count('Apple')

# Fourth Key
fruit_dict['Banana']= fruit_list.count('Banana')

In [ ]:
print(fruit_dict)

{'Mango': 4, 'Pineapple': 6, 'Apple': 5, 'Banana': 2}

# **Indexing & Slicing**

## Imagine that you are a superhero movie buff and you're trying to create a list of the most iconic Marvel characters. You have compiled a list of some of the most popular characters, but you want to narrow it down to the top 6.

Here's your list of characters:

marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

In [ ]:
# Here's your list of characters:

marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

You want to narrow down the list to the last 6 characters in the list. These characters are:

* Namor
* Doctor Strange
* Wolverine
* Captain America
* Black Widow
* Thor

Write a code to slice these characters from the list

In [ ]:
# Replace x with appropriate values
new_marvel=marvel_words[-1:-7:-1]
print(new_marvel)

['Namor', 'Doctor Strange', 'Wolverine', 'Captain America', 'Black Widow', 'Thor']

## Create two teams of superheroes based on their index position: one team should consist of all the characters located at even index positions, while the other team should consist of all the characters located at odd index positions.

In [ ]:
team1=marvel_words[0::2]    #Add appropriate index and step size
team2=marvel_words[1::2]
print(f"team1: {team1}")
print(f"team2: {team2}")

team1: ['Avengers', 'Spider-Man', 'Hulk', 'Black Widow', 'Wolverine', 'Namor']
team2: ['X-Men', 'Iron Man', 'Thor', 'Captain America', 'Doctor Strange']

###3. Store the word 'Spider-Man' in a new variable, and slice the word 'Spider' from it.

In [ ]:
spider_man=marvel_words[2] # Add appropriate index number
spidey_sliced=spider_man[0:6] # Add appropriate index number
print(spidey_sliced)

Spider

###4. Store the word 'Iron-Man' in a variable and use reverse indexing to reverse it.

In [ ]:
#Your code here
iron_man=marvel_words[3]
reversed_man=iron_man[-1::-1]
print(reversed_man)

naM norI

# **Operators in Data Types**


## 🎉 Let's do some math!

* 📐 First up, let's calculate the area of a square with sides that measure 5 cm. 🤔 How much space does this shape occupy?

* 🔍 Next, let's find the volume of a cube with sides that measure 12 cm. 📏 How much room does this shape take up?

* 🔢 Lastly, we'll find the quotient and remainder when we divide 10 by 4. 🧐 How many times does 4 fit into 10? What's left over?

In [ ]:
ar_square= 5*5
vol_cube= 12**3
quotient= 10/4
remainder= 10%4

print(f"remainder is: {remainder}")
print(f"quotient is: {quotient}")
print(f"vol_cube is: {vol_cube}")
print(f"ar_square is: {ar_square}")

remainder is: 2
quotient is: 2.5
vol_cube is: 1728
ar_square is: 25

## 📚 Let's practice some comparison operators! Here's a problem for you to solve:

🍎 The first basket contains 12 apples, and the second basket contains 8 apples. Use comparison operators to answer the following questions:

* Is the number of apples in the first basket greater than the number of apples in the second basket?

* Is the number of apples in the second basket less than or equal to the number of apples in the first basket?
* Is the number of apples in the first basket equal to the number of apples in the second basket?
* Is the number of apples in the second basket not equal to the number of apples in the first basket?

Use comparison operators (i.e. >, >=, <, <=, ==, !=) in your code to answer each question. Good luck! 🍎🍏

In [ ]:
# Your code here
basket1=12
basket2=8
print(basket1 > basket2)
print(basket2 <= basket1)
print(basket1 == basket2)
print(basket2 != basket1)

True
True
False
True

## 🌴 Are you ready for your trip to Goa? 🌊 You've got two bags with you, and you need to make sure they're light enough to board the flight. Let's use some logical operators to find out if you can make it on time!

🧳 One of your bags weighs 15 kg, while the other one weighs only 5 kg. 💪 You know you can pack a lot more in the heavier bag, but you have to be careful not to go over the weight limit.

👮‍♀️ The airline has a strict policy that both of your bags must weigh less than 13 kg each. Can you make it on the flight? Let's use logical operators to find out!

In [ ]:
# Define the weight of your bags
bag1_weight = 15
bag2_weight = 5


# Check if both bags weigh less than 13 kg
if (bag1_weight < 13 and bag2_weight < 13):
   print("Enjoy your trip!")
else:
   print("Sorry, You can not go through!")

Sorry, You can not go through!

In [ ]:
print("Sorry, You can not go through!")

**OR**

In [ ]:
print("Enjoy your trip!")

🧳 Uh oh, it looks like we have a problem with our bags! But don't worry, the crew has offered a solution. 😊

👨‍✈️ They've said that if at least one of our bags weighs less than 6 kg, we can still board the flight this time. 🛫

🤔 Are we ready for the trip or not? Let's use some logical operators to find out!

In [ ]:
# Define the weight of your bags
bag1_weight = 15
bag2_weight = 5

# Check if at least one bag weighs less than 6 kg
# If the result is False, print("Sorry, You can not go through!")
# Else, if the result is True, print("Enjoy your trip!")

if (bag1_weight < 6 or bag2_weight < 6):
   print("Enjoy your trip!")
else:
   print("Sorry, You can not go through!")

Enjoy your trip!

In [ ]:
print("Sorry, You can not go through!")

**OR**

In [ ]:
print("Enjoy your trip!")

🤔 Did you notice how we made a decision on which print statement to use based on the result of our logical operators? 🤔

🚀 Later on, we're going to learn how to do this in a single step, making it even easier for you. So stay curious 😎

## 📚 Imagine that you're a book lover with a collection of lot of books. 🤓

🔎 You need to find out how many of your books contain the word "Python" in them. 🐍

In [ ]:
books = [
    "Python for Data Science Handbook by Jake VanderPlas",
    "The Pragmatic Programmer by Andrew Hunt and David Thomas",
    "Python Machine Learning by Sebastian Raschka",
    "The Alchemist by Paulo Coelho"
]

In [ ]:
count = 0
for x in range(0,4):
 if "Python" in books[x] :     # Change x to 0,1,2 and 3.
  count=count+1

print(f"number of books contain the word Python in them: {count}")

number of books contain the word Python in them: 2

# **In-Built Functions & Methods**

## Here is a string for you to work with:

In [ ]:
# Here is the statement.

statement = "anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend."

In [ ]:
print(statement)

anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

1. Create a list containing the three sentences in the statement.
Hint: Use split() method.

In [ ]:
# Create a list containing the three sentences in the statement.

sentence_list= statement.split('.')
print(sentence_list)

["anas eagerly recommended 'the shawshank redemption' to his friends", ' He described the movie as a captivating and emotional story of hope and friendship', ' His friends decided to watch it together the following weekend', '']

2. The name 'anas' is spelled wrong. Replace it with 'Anas'.

In [ ]:
# The name 'anas' is spelled wrong.
# Replace it with 'Anas'.

statement = statement.replace('anas', 'Anas') #Redefine the statement, with the correction.
print(statement)

Anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

3. The title of the book is not written in the correct cases as well. Make corrections there.

In [ ]:
# Make corrections here.
statement= statement.replace('the shawshank redemption', 'The Shawshank Redemption')
print(statement)

Anas Eagerly Recommended 'The Shawshank Redemption' To His Friends. He Described The Movie As A Captivating And Emotional Story Of Hope And Friendship. His Friends Decided To Watch It Together The Following Weekend.

4. You believe "The Shawshank Redemption" would be bit too gloomy for the lot. Take user input of which movie to recommend and replace "The Shawshank Redemption" from the statement with the new recommendation.

In [ ]:
# Change the recommendation of movie to one, of your choice.
# Take input of movie

new_movie=input("Which movie wold you recommend? ")
statement= statement.replace('The Shawshank Redemption',new_movie)
print(statement)

Which movie wold you recommend? Harry Potter
Anas Eagerly Recommended 'Harry Potter' To His Friends. He Described The Movie As A Captivating And Emotional Story Of Hope And Friendship. His Friends Decided To Watch It Together The Following Weekend.

## 🎥 Suppose you have a collection of your favorite movies 🍿🎞️ and you want to keep track of them using a Python list 📜. You start with an empty list [] and keep adding new movies 🆕 to it. You also want to be able to remove movies ❌ that you have watched or no longer wish to keep in your collection. Finally, you want to be able to count 🔢 how many movies you have in your collection and reverse the order of the list 🔄.

In [ ]:
# Start with an empty list
movie_collection = []

# Add some movies to the collection using the append() method
movie_collection.append("The Way Back") # Use your favourite movie names
movie_collection.append("harry Potter")
movie_collection.append("Life Of Pi")
movie_collection.append("The Grey")
movie_collection.append("Black Sea")

# Print the current collection of movies
print("My Movie Collection:", movie_collection)

# Remove a movie from the collection using the pop() method
# Code to remove index 3
movie_collection.pop(3)
print("After removing movie 4", movie_collection)

# Count how many movies are in the collection using the count() method
num_movies = len(movie_collection)
print("Number of movies:", num_movies)

# Reverse the order of the list using the reverse() method
movie_collection.reverse()
print("Reversed movie collection:", movie_collection)

My Movie Collection: ['The Way Back', 'harry Potter', 'Life Of Pi', 'The Grey', 'Black Sea']
After removing movie 4 ['The Way Back', 'harry Potter', 'Life Of Pi', 'Black Sea']
Number of movies: 4
Reversed movie collection: ['Black Sea', 'Life Of Pi', 'harry Potter', 'The Way Back']

## 👩‍🏫 A teacher has stored the names of his students in a tuple as follows:
('Adam','Alice','Ben','Bilal','Bharath')

👨‍🎓 Their role numbers are defined as their index number + 1.

🖥️ Write a program which would take the name of the student as input and return their role number.

In [ ]:
student_tupple=('Adam','Alice','Ben','Bilal','Bharath')

In [ ]:
# Take input from user and display role number as index of the input + 1
student=input("Input the student name to get roll number - ")
print(student,"'s roll number is: ", student_tupple.index(student)+1) # Replace x with appropriate value

Input the student name to get roll number - Adam
Adam 's roll number is:  1

## A store 🏪 sells different types of fruits 🍎🍌🍇🍓 in baskets 🧺. The storekeeper 🧑 keeps track of the availability of each fruit type in separate sets. The storekeeper wants to know which fruits are available in both baskets, which fruits are unique to each basket, and the total number of fruits available. 🤔

In [ ]:
# Define sets for fruits in each basket
basket1 = {'apple', 'banana', 'grape', 'orange'}
basket2 = {'banana', 'mango', 'pineapple', 'orange'}

# Find the total number of fruits available
total_fruits = len(basket1) + len(basket2)
print("Total number of fruits available:", total_fruits)

# Find fruits available in both baskets
both_baskets = basket1 | basket2   # Replace x with appropriate method
print("All the available fruits:", both_baskets)

# Find only the common fruits in both baskets
common_fruits = basket1 & basket2   # Replace x with appropriate method
print("Common fruits in both baskets:", common_fruits)

# Find fruits unique to each basket
unique_basket1 = basket1 - basket2    # Replace x with appropriate method
unique_basket2 = basket2 - basket1    # Replace x with appropriate method
print("Fruits unique to basket 1:", unique_basket1)
print("Fruits unique to basket 2:", unique_basket2)

Total number of fruits available: 8
All the available fruits: {'apple', 'mango', 'grape', 'pineapple', 'orange', 'banana'}
Common fruits in both baskets: {'orange', 'banana'}
Fruits unique to basket 1: {'apple', 'grape'}
Fruits unique to basket 2: {'mango', 'pineapple'}

# **Statements, Indentation & Conditionals**

## 👉 Imagine that you are a food inspector who is responsible for inspecting the lead content of a packaged food material at a factory. If the content exceeds 5%, you should print the message "This batch cannot be approved".

In [ ]:
# Get the lead content of the packaged food material
lead_content = float(input("Please enter the lead content of the packaged food material in percentage: "))

# Check if the lead content exceeds 5%
if lead_content > 5:
  print("This batch cannot be approved.")

Please enter the lead content of the packaged food material in percentage: 5.5
This batch cannot be approved.

## 👉 Imagine: You're a bouncer at a nightclub and need to check if someone is old enough to enter. The legal age for entry is 18 years. If the person is less than 18 years print "Sorry You can not enter!".

In [ ]:
age = int(input("enter the age:"))


#Check the age of the guest
if age < 18 :
  print("sorry you cannot enter!")

enter the age:15
sorry you cannot enter!

## 👉 Imagine you are a fitness instructor who needs to evaluate if a client has reached their weight loss goal. The target weight loss goal is 10 pounds. If the client has lost at least 10 pounds, you should print the message "Congratulations, you have reached your weight loss goal!" However, if the client has lost less than 10 pounds, you should print "Sorry, you have not reached your weight loss goal yet. Keep up the good work!"

In [ ]:
# Get the client's weight loss
client_weight_loss = float(input("Please enter the client's weight loss (in pounds): "))

# Check if the client reached their weight loss goal
if client_weight_loss >= 10 :
  print("Congratulations, you have reached your weight loss goal!")
else :
  print("Sorry,you have not reached your weight loss goal yet. Keep up the good works")

Please enter the client's weight loss (in pounds): 5
Sorry,you have not reached your weight loss goal yet. Keep up the good works

##👉 Imagine: You're a gardener and need to check if a plant needs watering. If the soil moisture level is below 40%, print "Water the plant!", otherwise, print "The plant doesn't need watering."

In [ ]:
# Take input of moisture level
moisture_level = int(input("Enter moisture level "))

#Check if moisture level is satisfactory or not
if moisture_level < 40 :
  print("Water the plant")
else :
  print("The plant doesn't need watering")

Enter moisture level 45
The plant doesn't need watering

##📦📬🚚 Creating a shipping cost calculator! ⚙️

You need to create a program that calculates the cost of shipping a package based on its weight and destination 📦💰

🌍 Domestic shipping within the country :

* Packages weighing up to 1 kg cost Rs.50 to ship 🤑
Each additional kg costs Rs.10 extra 💰

🌎 International shipping to other countries 🌏:

* Packages weighing up to 1 kg cost Rs.500 to ship 🤑

Each additional kg costs Rs.100 extra 💰
Ready to ship? 🚛🚀

In [ ]:
destination = input("Enter the destination (domestic/international): ").lower()
weight = float(input("Enter the weight of the package in Kg: "))

if destination == 'domestic':
 if weight <= 1:
  cost = 50
 else:
  cost = 50 + (weight-1)*10

elif destination == 'international':
 if weight <= 1:
  cost = 500
 else:
  cost = 500 + (weight-1)*100

else:
  print("Invalid destination")

print(f"The shipping cost of a package weighting {weight}kg to {destination} is Rs.{cost}")

Enter the destination (domestic/international): domestic
Enter the weight of the package in Kg: 2
The shipping cost of a package weighting 2.0kg to domestic is Rs.60.0

## 🚗 As a car dealership manager, you need to create a discount system for your customers based on the price of the car they want to buy. Here are the rules! 📝

🚘 If the car price is less than Rs. 10,00,000, there is no discount.

🎁 If the car price is between Rs. 10,00,000 and Rs. 20,00,000, there is a discount of 5%.

🎉 If the car price is between Rs. 20,00,000 and Rs. 30,00,000, there is a discount of 7.5%.

🥳 If the car price is greater than Rs. 30,00,000, there is a discount of 10%.

Are you ready to make your customers happy with these discounts? 🚗💰

In [ ]:
car_price = int(input("Enter the car price: "))
if car_price < 1000000:                             #there is no discount.
  car_final_price = car_price
  print(f"car final price after discount is {car_final_price}")
elif (car_price > 1000000 and car_price < 2000000): #there is a discount of 5%.
  car_final_price = 0.95*car_price
  print(f"car final price after discount is {car_final_price}")
elif (car_price > 2000000 and car_price < 3000000): #there is a discount of 7.5%.
  car_final_price = 0.925*car_price
  print(f"car final price after discount is {car_final_price}")
elif car_price > 3000000:                             #there is a discount of 10%.
  car_final_price = 0.9*car_price
  print(f"car final price after discount is {car_final_price}")

Enter the car price: 3500000
car final price after discount is 3150000.0

# **Loops & Iterations**

## You and your friends are playing a board game where you roll a dice and move your game piece accordingly. However, you want to know the average number rolled by each player to see who's really the luckiest. Write a program that takes a list of rolls as input for each player and uses a for loop to calculate the average roll for each player. The winner gets bragging rights for being the luckiest!

In [ ]:
player_rolls = [
    [3, 5, 6, 2, 1],  # player 1's rolls
    [4, 4, 6, 3, 2],  # player 2's rolls
    [1, 5, 6, 6, 4]   # player 3's rolls
] # list of a list

In [ ]:

for index in range(len(player_rolls)):
  average_index = sum(player_rolls[index])/len(player_rolls[index])
  print(f"player {index + 1}'s average roll is {average_index}")

player 1's average roll is 3.4
player 2's average roll is 3.8
player 3's average roll is 4.4

## Write a Python program that analyzes a list of names and sorts them into two categories: those that start with a vowel and those that start with a consonant. To achieve this, you'll use a nested loop and some basic conditional statements.

In [ ]:
names = ["Alice", "Bob", "Eve", "Charlie", "Ivy", "David", "Olivia", "Peter"]
vowel_names = []
consonant_names = []
for name in names:
  for i in name:
   if i in "aeiouAEIOU" :
    vowel_names.append(name)
    break
   else:
    consonant_names.append(name)
    break
print(f"list contains the names that start with vowels is {vowel_names}")
print(f"list contains the names that start with consonant is {consonant_names}")

list contains the names that start with vowels is ['Alice', 'Eve', 'Ivy', 'Olivia']
list contains the names that start with consonant is ['Bob', 'Charlie', 'David', 'Peter']

## You are a teacher and you have a dictionary containing the grades of your students in a particular subject. The keys of the dictionary are the names of the students, and the values are their respective grades. You need to find the students who scored above 90% and print out their names.

In [ ]:
# Define the grades dictionary
grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 88,
    'David': 95,
    'Emily': 78,
    'Frank': 91
}

# Write Your Code Here
print("The student who scored above 90%:")
for name, grade in grades.items():
  if grade > 90 :
    print(name)

The student who scored above 90%:
Bob
David
Frank

## You're given a nested list of numbers, and your task is to count the number of odd and even numbers in the list. To achieve this, you'll use a nested loop and some basic conditional statements.

List - numbers = [
    [2, 5, 11, 20, 8],
    [9, 4, 15, 28, 17],
    [1, 6, 21, 18, 3],
    [10, 13, 25, 33, 30],
    [14, 7, 16, 19, 22]
]

In [ ]:
# List of numbers
numbers = [
    [2, 5, 11, 20, 8],
    [9, 4, 15, 28, 17],
    [1, 6, 21, 18, 3],
    [10, 13, 25, 33, 30],
    [14, 7, 16, 19, 22]
]

# Your code here:
even_count = 0
odd_count = 0
for number in numbers:
  for num in number:
    if num%2 == 0:
      even_count = even_count + 1
    else :
       odd_count = odd_count + 1
print(f"even counts: {even_count}")
print(f"odd counts: {odd_count}")

even counts: 12
odd counts: 13

## Imagine you're organizing a chess tournament 🏆, where each player has to play against every other player. To achieve this, you can use nested loops in Python! Nested loops are simply loops within loops, and they come in handy when you need to perform tasks involving multiple levels of iteration.

In Python, you can nest 'for' loops, 'while' loops, or even a combination of both. Let's take a closer look at how nested loops work using our chess tournament scenario:

In [ ]:
# Write Your Code Here
players = ['Alice', 'Bob', 'Charlie', 'Diana']
for x in players:
  for y in players:
    if x!=y:
      print(f"player {x} plays against player {y} ")

player Alice plays against player Bob
player Alice plays against player Charlie
player Alice plays against player Diana
player Bob plays against player Alice
player Bob plays against player Charlie
player Bob plays against player Diana
player Charlie plays against player Alice
player Charlie plays against player Bob
player Charlie plays against player Diana
player Diana plays against player Alice
player Diana plays against player Bob
player Diana plays against player Charlie

# **Conditional & Infinite Looping**

## **Building a Simple Calculator**

In this activity, you will build a simple calculator using conditional looping in Python. The calculator will ask the user for two numbers and an operation (addition, subtraction, multiplication, or division), and then perform the operation on the two numbers.

In [ ]:
# Write code here
num1 = int(input("Enter the num1: "))
num2 = int(input("Enter the num2: "))
operation = input("Enter the operation to perform: ")

if operation == "addition":
 result=num1 + num2

elif operation == "subtraction":
 result=num1 - num2

elif operation == "multiplication":
 result=num1 * num2

elif operation == "division":
 if num2 != 0:
  result=num1 / num2
 else:
  result= "zero division error"

else:
 result= "invalid operation"

print(result)

Enter the num1: 8
Enter the num2: 2
Enter the operation to perform: addition
10

## **Building a Fibonacci Sequence Generator**

In this activity, you will build a program that generates a Fibonacci sequence using conditional looping in Python. The Fibonacci sequence is a series of numbers in which each number is the sum of the two preceding numbers. The sequence starts with 0 and 1, and the next number in the sequence is the sum of the previous two numbers.

In [ ]:
# Write code here
n = int(input("enter how many terms you want in the sequence: "))
num1 = 0
num2 = 1
count = 0
while count < n:
 print(num1, end=" ")
 next_num = num1 + num2
 num1 = num2
 num2 = next_num
 count+=1

enter how many terms you want in the sequence: 5
0 1 1 2 3

## **Counting the Digit**

You have been given a task to write a Python program that counts the number of times a specific digit appears in a range of numbers. You need to use a for loop to iterate over the range of numbers, and a while loop to check each digit in the number.

Example:

* Enter start number: 100
* Enter end number: 150
* Enter digit to count: 5
* The digit 5 appears 6 times between 100 and 150.

In [ ]:
# Write code here
start = int(input("enter start number: "))
end = int(input("enter end number: "))
digit = int(input("enter digit to count: "))
count = 0
for num in range(start, end + 1):
 while num!= 0:
  r = num%10
  if r == digit:
    count+= 1
  num = num/10

print(f"The digit {digit} appears {count} times between {start} and {end}")

enter start number: 100
enter end number: 150
enter digit to count: 5
The digit 5 appears 6 times between 100 and 150

# **Custom Functions in Python**

## **Building a Calculator**


In this activity, we will create a custom function in Python to build a calculator that can perform basic arithmetic operations such as addition, subtraction, multiplication, and division.

**💻 Code:**

In [ ]:
# Define a function called calculator that takes three arguments: num1, num2, and operation
def calculator(num1,num2,operation):
 if operation == "+":
  result=num1 + num2

 elif operation == "-":
  result=num1 - num2

 elif operation == "*":
  result=num1 * num2

 elif operation == "/":
  if num2 != 0:
   result=num1 / num2
  else:
   result= "zero division error"

 else:
  result= "invalid operation"

 return result

**🧪 Test Code:**

In [ ]:
# Test the calculator function
num1 = int(input("Enter the num1: "))
num2 = int(input("enter the num2: "))
operation = input("Enter the operation to perform: ")
print(calculator(num1,num2,operation))

Enter the num1: 8
enter the num2: 2
Enter the operation to perform: +
10

## **Dice Rolling** 🎲

Roll a dice and display the result. 🎲

## **Celsius to Fahrenheit Converter**

Create a custom function that takes in a temperature in Celsius and returns the temperature in Fahrenheit.

**For example**: If the input temperature is 20 degrees Celsius, the output temperature should be 68 degrees Fahrenheit.

💻 Code:

In [ ]:
# Define a function to convert celsius to fahrenheit
def temperature_conversion(celsius_temperature):
  Fahrenheit_temperature = (celsius_temperature * 9/5) + 32
  return Fahrenheit_temperature

**🧪 Test Code:**

In [ ]:
# Example usage
celsius_temperature = int(input("Enter the temperature in Celsius: "))
print(f"If the input temperature is {celsius_temperature} degrees Celsius, the output temperature should be {temperature_conversion(celsius_temperature)} degree Fahrenheit")

Enter the temperature in Celsius: 10
If the input temperature is 10 degrees Celsius, the output temperature should be 50.0 degree Fahrenheit

Output:

If the input temperature is 20 degrees Celsius, the output temperature should be 68 degrees Fahrenheit.

**Instructions:**

To create this function, you can use the formula to convert the temperature in Celsius to Fahrenheit. The formula for converting Celsius to Fahrenheit is F = (C * 9/5) + 32, where F is the temperature in Fahrenheit and C is the temperature in Celsius.

## **Sum odd Numbers** ➖

In this activity, you will create a custom function in Python that takes a list of integers as an argument and returns the sum of all odd numbers in the list.

💻 Code:

In [ ]:
# define sum_odd custom function
def sum_odd(lst):
  result = 0
  for element in lst:
    if element%2 != 0:
      result+= element
  return result

**🧪 Test Code:**

In [ ]:
# test here
lst = eval(input("Enter the list: "))
print(f"If the input is {lst}, then the output should be {sum_odd(lst)}")

Enter the list: [1,2,3,4,5,6]
If the input is [1, 2, 3, 4, 5, 6], then the output should be 9

# **Advanced Looping Concepts**

## **Pizza Toppings**

🍕🍔 You have two lists, one containing pizza toppings and the other containing burger toppings. You need to create a new list that contains all the toppings from both the pizza and burger toppings lists, but only if they have more than 5 characters in their name.

Can you write the code to create a new list that contains all the toppings from both the pizza and burger toppings lists, but only if they have more than 5 characters in their name using list comprehension only?

👉 Hint: You can use a conditional statement to check the length of each topping's name.

In [ ]:
# Here are the example lists of toppings
pizza_toppings = ['mushroom', 'olive', 'tomato', 'pepperoni', 'onion', 'garlic']
burger_toppings = ['lettuce', 'cheese', 'mayonnaise', 'bacon', 'pickle', 'avocado']

# Write your code here
result_list = [topping for toppings in [pizza_toppings,burger_toppings] for topping in toppings if len(topping) > 5]
print(result_list)

['mushroom', 'tomato', 'pepperoni', 'garlic', 'lettuce', 'cheese', 'mayonnaise', 'pickle', 'avocado']

## **Sales Data**

🌎🛍️ Suppose you work for a company that sells products in different countries. You have been given two lists: one containing the names of the countries where the company sells its products, and the other containing the sales data for each country. Your task is to create a dictionary where the keys are the country names, and the values are the corresponding sales data. However, the sales data should only include values that are greater than 1000. You are not allowed to use any loops, and must use list comprehension to solve the problem.

Can you write the code to create the desired dictionary using list comprehension?

👉 Hint: You can use zip function to create pairs of country and sales data from the two lists.

In [ ]:
# Here are the two lists
countries = ["USA", "Canada", "Mexico", "Brazil", "UK", "France", "Germany", "China", "India"]
sales = [2500, 300, 1200, 800, 500, 2000, 4000, 1000, 1500]

# Write your code here
countries_sales= list(zip(countries,sales))
result_list = [{country: sale} for country, sale in countries_sales if sale > 1000]
print(result_list)

[{'USA': 2500}, {'Mexico': 1200}, {'France': 2000}, {'Germany': 4000}, {'India': 1500}]

## **Stock Filtering**

📊📈 Suppose you are working for a company that deals with financial data. You have been given a list of dictionaries, where each dictionary contains the following information about a stock: name, ticker symbol, price, and percentage change in price. Your task is to create a new list of dictionaries, where each dictionary contains only the name and price of the stock, but only for those stocks where the price is greater than 100 and the percentage change is positive. You must use list comprehension to solve the problem.

Can you write the code to create the desired list of dictionaries using list comprehension?

👉 Hint: You can use conditional statements to check if the price is greater than 100 and the percentage change is positive in the list comprehension.

In [ ]:
# Here is an example of the list of dictionaries
stocks = [
    {'name': 'Apple Inc.', 'ticker': 'AAPL', 'price': 120.0, 'change': 0.05},
    {'name': 'Microsoft Corporation', 'ticker': 'MSFT', 'price': 95.0, 'change': -0.02},
    {'name': 'Amazon.com, Inc.', 'ticker': 'AMZN', 'price': 250.0, 'change': 0.1},
    {'name': 'Alphabet Inc.', 'ticker': 'GOOGL', 'price': 110.0, 'change': 0.02},
    {'name': 'Facebook, Inc.', 'ticker': 'FB', 'price': 80.0, 'change': 0.03}
]



#Createa a list of dictionaries where there is only the name and price.
new_stocks= [{'name':stock['name'], 'price':stock['price']} for stock in stocks if stock['price'] >100 and stock['change'] >0 ]
print(f"the stocks whose price is greater than 100 and the percentage change is positive: {new_stocks}")

the stocks whose price is greater than 100 and the percentage change is positive: [{'name': 'Apple Inc.', 'price': 120.0}, {'name': 'Amazon.com, Inc.', 'price': 250.0}, {'name': 'Alphabet Inc.', 'price': 110.0}]

## **Duplicate Songs**

🎵🎶 You have a list of songs that you like to listen to, but you notice that some of the songs have duplicate names. You want to create a new set that contains the unique names of all the songs and keep the songs whose name doesn't start with "S" and doesn't end with "n" in your list using set comprehension.

Can you write the code to create a new set that contains the unique names of all the songs in your list using set comprehension only?

👉 Hint: Set comprehension is similar to list comprehension, but with curly braces {} instead of square brackets [].

In [ ]:
# Here's an example list of songs
songs = ['Bohemian Rhapsody', 'Stairway to Heaven', 'Bohemian Rhapsody', 'Hotel California', 'November Rain', 'Stairway to Heaven', 'Sweet Child O\' Mine']

# Write your code here
unique_song_set = {song for song in songs if not (song.startswith('S') and song.endswith('n'))}
print(unique_song_set)

{'November Rain', 'Bohemian Rhapsody', "Sweet Child O' Mine", 'Hotel California'}

# **OOPs in Python**

## **Building a Simple Calculator** 🧮🔢


In this activity, you will build a simple calculator program in Python using Object-Oriented Programming (OOP) concepts.

In [ ]:
# Define a simple calculator class
class calculator:

  def __init__(self):
    self.result = 0

  def add(self,num1,num2):
    self.result = num1+num2
    return self.result

  def subtract(self,num1,num2):
    self.result = num1-num2
    return self.result

  def multiply(self,num1,num2):
    self.result = num1*num2
    return self.result

  def divide(self,num1,num2):
    if num2 == 0:
     raise ValueError("Cannot divide by zero")
    self.result = num1/num2
    return self.result

In [ ]:
# Test Case
calc = calculator()

addition = calc.add(8,2)
substraction = calc.subtract(8,2)
multiplication = calc.multiply(8,2)
division = calc.divide(8,2)

print(f"Addition is {addition}")
print(f"Substraction is {substraction}")
print(f"Multiplication is {multiplication}")
print(f"Division is {division}")

Addition is 10
Substraction is 6
Multiplication is 16
Division is 4.0

## 🏀**Basketball Game Score Tracker**📈

Create a class that will keep track of the score of a basketball game. The class should have methods for updating the score and printing the current score.

In [ ]:
# Create BasketballGame class
class BasketballGame:

  def __init__(self):
   self.team1_score = 0
   self.team2_score = 0

  def Update_Score(self,team1_points,team2_points):
   self.team1_score += team1_points
   self.team2_score += team2_points

  def Display_Score(self):
   print(f"current score of team1 is {self.team1_score} and team2 is {self.team2_score}")

In [ ]:
# Example Usage:
Game = BasketballGame()

Game.Update_Score(0,20)
Game.Update_Score(0,20)
Game.Update_Score(20,0)
Game.Display_Score()

current score of team1 is 20 and team2 is 40

## 🎨 **Paint Brush Class** 🖌️

Create a Python class for a paint brush that has the following properties:

* Size (small, medium, or large)
* Color (red, blue, green, or yellow)
* Brand (Winsor & Newton, Liquitex, or Grumbacher)
* Type (round or flat)

In [ ]:
# Define PaintBrush Class
class PaintBrush:

  def __init__(self,size,colour,brand,brush_type):
    self.size = size
    self.colour = colour
    self.brand = brand
    self.brush_type = brush_type

  def paint(self):
    print(f"The brush size, color, brand, and brush type are {self.size}, {self.colour}, {self.brand}, and {self.brush_type}")

Now, create an instance of the PaintBrush class with the following properties:

* Size: medium
* Color: red
* Brand: Winsor & Newton
* Type: round
* Call the paint() method on the instance to simulate painting with the brush.

In [ ]:
# Test Case
paintbrush1 = PaintBrush(size = 'medium',colour = 'red',brand = 'Winsor & Newton',brush_type = 'round')
paintbrush1.paint()

The brush size, color, brand, and brush type are medium, red, Winsor & Newton, and round

## **Bank Account Management System** 💻🏦

Create a Bank Account Management System using Object-Oriented Programming (OOPs) in Python. The system should allow users to create and manage bank accounts, deposit and withdraw funds, and view account details.

In [ ]:
# Define a BankAccount class
class BankAccount:

  def __init__(self,name,account_number,balance):
   self.name = name
   self.account_number = account_number
   self.balance = balance

  def deposit(self,deposit_amount):
   self.balance += deposit_amount
   print(f"deposit of {deposit_amount} successful. the new balance: {self.balance}")

  def withdraw(self,withdrawn_amount):
   if self.balance > withdrawn_amount :
    self.balance -= withdrawn_amount
    print(f"withdrawal of {withdrawn_amount} successful. the new balance: {self.balance}")
   else:
    print(f"insufficient funds. the current balance: {self.balance}")

  def account_details(self):
   print(f"Account holder Name = {self.name}")
   print(f"Account_number = {self.account_number}")
   print(f"Balance = {self.balance}")

In [ ]:
# Test Case
user1 = BankAccount(name = 'Ram', account_number = '9930', balance = 2000)
user1.deposit(500)
user1.withdraw(100)
user1.account_details()

deposit of 500 successful. the new balance: 2500
withdrawal of 100 successful. the new balance: 2400
Account holder Name = Ram
Account_number = 9930
Balance = 2400

# **Exception Handling**

## **Sum of first n Natural Numbers**

💻 Suppose you are working on a project that requires you to write a Python program that calculates the sum of the first n natural numbers. You wrote a program to solve the problem, but the code contains several errors that prevent it from executing properly. ❌

Your task is to identify and rectify the errors in the code and write the correct program. 🛠️

In [ ]:
# Code with errors
n = input("Enter a number: ")
sum = 0
for i in range(0, n+1):
  sum = sum + i
print("The sum of the first", n, "natural numbers is", sum)

Enter a number: 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Write your code here
n = int(input("Enter a number: "))
sum = 0
for i in range(1, n+1):
 sum = sum + i
print("The sum of the first", n, "natural numbers is", sum)

Enter a number: 5
The sum of the first 5 natural numbers is 15

## **Average Temperature** 🌡️🌡️

You have been given a task to develop a program that calculates the average temperature 🌡️ of a city 🏢 for a given week. You have written a program to solve the problem, but there seems to be some logical errors that are causing the program to output incorrect results. You are provided with two sets of weekly temperatures and need to find the average of each individual week.

Your task is to identify and rectify the logical errors in the code and write the correct program.

In [ ]:
# Temperature data for the week 1 and week 2
temperatures_w1 = [32, 34, 31, 30, 29, 28, 33]
temperatures_w2 = [31, 34, 35, 28, 29]

# Calculate the sum of all temperatures
for temperature in temperatures_w1:
  sum = sum + temperature

# Calculate the average temperature
average = sum / 7

# Output the result
print("The average temperature of the week is", sum, "degrees Celsius.")

The average temperature of the week is 232 degrees Celsius.

In [ ]:
# Write your code here
temperatures_w1 = [32, 34, 31, 30, 29, 28, 33]
temperatures_w2 = [31, 34, 35, 28, 29]

sum_w1 = 0
for temperature in temperatures_w1:
  sum_w1 = sum_w1 + temperature

average_w1 = sum_w1/ len(temperatures_w1)

print("The average temperature of the week is", average_w1, "degrees Celsius.")

sum_w2 = 0
for temperature in temperatures_w1:
  sum_w2 = sum_w2 + temperature

average_w2 = sum_w2/ len(temperatures_w2)

print("The average temperature of the week is", average_w2, "degrees Celsius.")

The average temperature of the week is 31.0 degrees Celsius.
The average temperature of the week is 43.4 degrees Celsius.

## **Handle that Error!** ❌❌

You are developing a Python program that requires user input. You want to make sure that your program doesn't crash due to invalid user input or unexpected errors 🛑. You have heard about exception handling in Python and want to implement it in your program to handle errors gracefully.

Your task is to implement exception handling in your program to handle invalid user input and unexpected errors.

In [ ]:
# Code without exception handling
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

result = num1 / num2

print("The result is: ", result)

Enter the first number: 5
Enter the second number: 0

ZeroDivisionError: division by zero

In [ ]:
# Write your code here
try:
 num1 = int(input("Enter the first number: "))
 num2 = int(input("Enter the second number: "))
 result = num1 / num2
 print("The result is: ", result)

except ZeroDivisionError:
 print("Error: You cannot divide be zero!")
except ValueError:
 print("Error: please enter valid integer for the numbers.")

Enter the first number: 5
Enter the second number: 0
Error: You cannot divide be zero!

## **What's the time?** ⌚⌚

Create a class Time which takes two inputs: hours and minutes to instantiate.

* Construct a method DisplayTime() which displays the time in AM/PM formats.

 * For example if the input is 14 hours and 45 mins, then this method will print "The time is 2:45 PM".
 * If the inputted hours exceeds 23 then print the message "The input hours should be less than 24" and if the inputted minutes exceeds 59 then print the message "The input minutes should be less than 60."
 * Also if the input is 12 hours 30 minutes, then the displayed time would be 12:30 PM

* Construct a method DisplayRatio() which should display the ratio of minutes to hours.
 * For example, (8 hours and 16 mins) should display 2. Use try, except block to account for ZeroDivisionError.

In [ ]:
# Write your code here
class Time:

 def __init__(self,hours,minutes):
  self.hours = hours
  self.minutes = minutes

 def DisplayTime(self):
  if self.hours >= 24:
   print("The input hours should be less than 24")
  elif self.minutes >= 60:
   print("The input minutes should be less than 60")
  elif self.hours >= 12:
   print(f"The time is {self.hours-12}:{self.minutes} PM")
  else:
   print(f"The time is {self.hours}:{self.minutes} AM")




 def DisplayRatio(self):
  try:
   ratio = self.minutes/self.hours
   print(f"the ratio of minutes to hours: {ratio}")
  except ZeroDivisionError:
   print("division by zero is not allowed")

In [ ]:
# Check for few sample inputs of hours and mins
hour_min_list = [(23,45), (34,50), (12,34), (14,67),(19,20), (2,15), (0, 10)]
for hrs,mins in hour_min_list:
 Time1 = Time(hours = hrs,minutes = mins)
 Time1.DisplayTime()
 Time1.DisplayRatio()

The time is 11:45 PM
the ratio of minutes to hours: 1.9565217391304348
The input hours should be less than 24
the ratio of minutes to hours: 1.4705882352941178
The time is 0:34 PM
the ratio of minutes to hours: 2.8333333333333335
The input minutes should be less than 60
the ratio of minutes to hours: 4.785714285714286
The time is 7:20 PM
the ratio of minutes to hours: 1.0526315789473684
The time is 2:15 AM
the ratio of minutes to hours: 7.5
The time is 0:10 AM
division by zero is not allowed